.inner-top-bar {
    width: 90%;
    @include flex(row, space-between);

    padding-bottom: 0.75rem;

    .title {
        color: $dark_blue1;
        font-family: 'Rubik-medium';
        font-size: 1.5rem;
    }

    .heart {
        @include flex(row, space-between, center);
        gap: 0.25rem;
    }

    .heart-icon {
        opacity: 0.5;
    }

    .desktop {
        opacity: 1;
        color: $light_blue3;
    }

    .number {
        font-size: 1.5rem;
        font-family: 'Rubik-regular';
        color: $dark_blue1;
    }

    .arrow-and-title-container {
        @include flex(row, flex-start, center);
        gap: 1rem;
    }

    .prev {
        font-size: 2rem;
        cursor: pointer;
    }
}
