@import '../../common/styles/mixins';

.popping-images-container {
    position: absolute;
    top: 0%;
    left: 0%;

    .popping-image-container {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 3rem;
        height: 3rem;

        .popping-image {
            width: 7rem;
            height: 7rem;
        }
    }
}

//desktop animation
@include popping-image-animation(40, 4s);

//mobile animation
@media screen and (max-width: 800px) {
    @include popping-image-animation(30, 2.5s);
}
