.popup-change-password {
    width: 100%;
    padding: 1rem;
    @include flex(column, center, center);

    .headline {
        width: 100%;
        font-family: Rubik-medium;
        color: $dark_blue1;
        font-size: 1.5rem;
    }

    .inputs-container {
        padding-top: 1.5rem;

        .Form-textInput {
            height: 2.5em;
            border: $borderColor solid 1px;
            border-radius: 10px;
            background-color: transparent;
            padding: 10px;

            .MuiInputBase-input {
                color: $dark_blue1;
                font-size: 1.3em;
                font-family: Rubik-regular;
            }

            &.Mui-focused {
                outline: none;
            }
        }

        .Form-container {
            .Form-textInput-control {
                .Form-textInput-label {
                    color: $dark_blue1;
                    font-size: 1.3em;
                    font-family: Rubik-regular;
                }
            }

            .Form-textInput-errorMsg {
                margin: 0;
            }

            .Form-textInput-maxLength {
                display: none;
            }

            input:-webkit-autofill {
                -webkit-box-shadow: 0 0 1000px 1000px #fff inset;
            }
        }

        .login-button {
            background-color: $light_blue1;
            font-family: Rubik-medium;
            width: 100%;
            color: $dark_blue1;
            border-radius: 10px;
            height: 2.3em;
            font-size: 1.5em;
            box-shadow: none;
            margin-top: 1rem;
            z-index: 1;
        }

        .login-button-desktop {
            background-color: $dark_blue1;
            font-family: Rubik-medium;
            width: 45%;
            color: white;
            border-radius: 9px;
            height: 2.3em;
            margin-top: 1rem;
            font-size: 1.2rem;
        }
    }
}
